body
{
  font-family: tahoma;
  overflow: visible;
}
.Navbar
{
   width: 150px;
   height: 150px;
   line-height: 150px;
   border-radius: 50%;
   background-image:url("manoj.png");
   background-size: cover;
   margin: 190px auto;
   position: relative;
   cursor: pointer;
   text-align: center;
   font-size: 2.75em;
   font-weight: bold;
   transition: 0.24s 0.2s;
}
.Navbar .menu
{

  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -75px;
  left: -75px;
  border:150px solid transparent;
  cursor: default;
  border-radius: 50%;
  transform:scale(0);
  transition:transform 1.4s 0.07s;
  z-index: -1;
}
.Navbar:hover .menu {
  transition: transform 0.4s 0.08s,z-index 0s 0.5s;
  transform: scale(1);
  z-index: 1;
}
.Navbar .menu li {
  position: absolute;
  top:-100px;
  left: -100px;
  transform-origin: 100px 100px;
  transition: all 0.5s 0.1s;
}
.Navbar :hover .menu li {
  transition: all 0.7s;
}
.Navbar:hover .menu li a {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  background-image: url('bgmenu.jpeg');
  background-size: cover;
  position:absolute;
  font-size: 59%;
  color:#f273ba;
  transition: 0.7s;
  text-overflow:10px;
  }
  .Navbar:hover .menu li:nth-child(1) {
  transition-delay: 0.02s;
  transform:rotate(85deg);
}
.Navbar:hover .menu li:nth-child(1) a {
  transition-delay: 0.04s;
  transform:rotate(635deg);
}
.Navbar:hover .menu li:nth-child(2) {
  transition-delay: 0.04s;
  transform:rotate(125deg);
}
.Navbar:hover .menu li:nth-child(2) a {
  transition-delay: 0.08s;
  transform:rotate(595deg);
}
.Navbar:hover .menu li:nth-child(3) {
  transition-delay: 0.06s;
  transform:rotate(165deg);
}
.Navbar:hover .menu li:nth-child(3) a {
  transition-delay: 0.12s;
  transform:rotate(555deg);
}
.Navbar:hover .menu li:nth-child(4) {
  transition-delay: 0.08s;
  transform:rotate(205deg);
}
.Navbar:hover .menu li:nth-child(4) a {
  transition-delay: 0.16s;
  transform:rotate(515deg);
}
.Navbar:hover .menu li:nth-child(5) {
  transition-delay: 0.1s;
  transform:rotate(245deg);
}
.Navbar:hover .menu li:nth-child(5) a {
  transition-delay: 0.2s;
  transform:rotate(475deg);
}
.Navbar:hover .menu li:nth-child(6) {
  transition-delay: 0.12s;
  transform:rotate(285deg);
}
.Navbar:hover .menu li:nth-child(6) a {
  transition-delay: 0.24s;
  transform:rotate(435deg);
}
.Navbar:hover .menu li:nth-child(7) {
  transition-delay: 0.14s;
  transform:rotate(325deg);
}
.Navbar:hover .menu li:nth-child(7) a {
  transition-delay: 0.28s;
  transform:rotate(395deg);
}
.Navbar:hover .menu li:nth-child(8) {
  transition-delay: 0.16s;
  transform:rotate(365deg);
}
.Navbar:hover .menu li:nth-child(8) a {
  transition-delay: 0.32s;
  transform:rotate(355deg);
}
.Navbar:hover .menu li:nth-child(9) {
  transition-delay: 0.18s;
  transform:rotate(405deg);
}
.Navbar:hover .menu li:nth-child(9) a {
  transition-delay: 0.36s;
  transform:rotate(315deg);
}
a,a:hover {
  text-decoration: none;
}
canvas,div.overlay {
height:100%;
top:0;
left:0;
}
body,h1,html {
margin:0;
padding:0;
}
canvas,div.overlay,footer {
position:absolute;
width:100%;
}
footer,p {
display:block;
letter-spacing:1px;
}
footer,main {
text-align:center;
}
a,body {
color:#acb8b4;
}
body,html {
height:100%;
}
body
{
background-image: url('background.jpeg');
background-size:cover;
font-family:'Darker Grotesque',sans-serif;
}
body.support--webp {
background:url('background.webp')center center:#101312;
background-size:cover;
}
div.overlay {
background:url('overlay.png')center center;
background-size:cover;
mix-blend-mode:hard-light;
}
h1 span,main {
position:relative;
}
body.support--webp,div.overlay {
background:url('overlay.webp') center center;
background-size:cover;
}
main {
max-width:800px;
top:50%;
margin:0 auto;
-webkit-transform:translate(0,-70%);
-ms-transform:translate(0,-70%);
transform:translate(0,-70%);
}
h1 {
font-size:5rem;
font-weight:400;
text-transform:uppercase;
line-height:6rem;
letter-spacing:25px;
}
footer,h1 span {
font-weight:300;
}
h1 span {
top:38px;
font-size:9.4rem;
line-height:4rem
}
p {
width:70%;
margin:35px auto;
font-size:1.2rem;
line-height:1.5rem;
}
@media screen and (max-width:800px)
{
h1 {
font-size:3rem;
line-height:4rem;
letter-spacing:15px
}
h1 span {
top:25px;
font-size:6rem;
line-height:2rem;
}
p {
width:60%;
margin:25px auto;
font-size:1rem;
line-height:1.4rem;
letter-spacing:1px;
}
}
@media screen and (max-width:500px)
{
h1 {
font-size:2rem;
line-height:3rem;
letter-spacing:10px;
}
h1 span {
top:16px;
font-size:3.8rem;
line-height:1.5rem;
}
p {
width:80%;
margin:25px auto;
font-size:1rem;
line-height:1.4rem;
letter-spacing:1px;
}
}
